@font-face { font-family: DIN_Condensed; src: url(../fonts/DIN_Condensed/DINCondensed-Light.ttf); } 


body {
    margin: 0px;
}

.header {
    border: 20px;
    background-color: gold;
}

.header img {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 0px;
}

.navbar li:hover {
    text-decoration: underline;
}

.navbar li {
    font-family: DIN_Condensed, sans-serif;
    font-size: 30px;
    color: black;
    display: inline-block;
    padding: 1%;
}

.article {
    text-align: center;
}

.article h1 {
    font-family: DIN_Condensed, sans-serif;
    font-size: 40px;
}

.article img {
    width: 60vw;
}

.article_text {
    text-align: left;
    padding-left: 20vw;
    padding-right: 20vw;
}

.article_text h4, p {
    font-size: 20px;
}

.footer {
    background-color: gold;
    margin-top: 1vh;
}

.footer p {
    margin: 0px;
    padding-top: 5vh;
    padding-bottom: 5vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: DIN_Condensed, sans-serif;
    font-size: 30px;
}