@font-face { font-family: DIN_Condensed; src: url(../fonts/DIN_Condensed/DINCondensed-Light.ttf); } 


body {
    margin: 0px;
}

.header {
    border: 20px;
    background-color: gold;
    min-height: 33vh;
}

.header img {
    display: block;
    max-height: 20vh;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 0px;
    padding-left: 0px;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar li {
    font-family: DIN_Condensed, sans-serif;
    font-size: 30px;
    color: black;
    display: inline-block;
    padding: 1%;
}

.navbar a {
    font-family: DIN_Condensed, sans-serif;
    font-size: 30px;
    color: black;
    text-decoration: none;
}

@media (max-width: 1000px)
{
    .navbar li {
        display: block;
        padding: 0px;
    }
}

.dropdown_news {
    display: none;
    position: absolute;
    min-width: 50vw;
    text-align: left;
}

.dropdown_news li{
    display: inline-block;
    background-color: gold;
    padding: 0%;
    padding-top: 1vh;
}

.dropdown_news a{
    padding-left: 0px;
    padding-right: 20px;
    padding-top: 0%;
}

@media (min-width: 1000px)
{
    .dropdown:hover .dropdown_news { 
        display: block;
        padding-left: 0px;
    }
}


@media (max-width: 1000px)
{
    .home_left { display: none;}
    .home_right { display: none;}
}

.article {
    text-align: center;
}

.article h1 {
    font-family: DIN_Condensed, sans-serif;
    font-size: 40px;
}

.article img {
    width: 60vw;
}

.article_text {
    text-align: left;
    padding-left: 20vw;
    padding-right: 20vw;
}

.article_text h4, p {
    font-size: 20px;
}

.footer {
    background-color: gold;
    margin-top: 1vh;
}

.footer p {
    margin: 0px;
    padding-top: 5vh;
    padding-bottom: 5vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: DIN_Condensed, sans-serif;
    font-size: 30px;
}